@page "/"
@using Domain
@using Kicker.Server.GameServer
@inject GameService service

<PageTitle>admin tool</PageTitle>

<button class="btn btn-primary mb-4" @onclick="OnResetClicked">zurücksetzen</button>

<div>
    <div class="mb-2 mt-3">
        <p>Spielfeldhöhe</p>
        <input type="number" @bind-value="fieldHeight">
    </div>
    <div>
        <p hidden=@isHidden>@error</p>
        <button class="btn btn-primary" @onclick="OnResetWithChangesClicked">zurücksetzen mit Änderungen</button>
    </div>
</div>

@code {
    private void OnResetClicked()
    {
        service.Reset();
    }

    private int fieldHeight;
    private string error = "invalid input, fieldheight must be divisible by 3 and not by 2";
    private bool isHidden = true;
    private void OnResetWithChangesClicked()
    {
        if (fieldHeight >= 9 && fieldHeight % 3 == 0 && fieldHeight % 2 == 1)
        {
            GameSettings settings = GameSettings.create(fieldHeight,fieldHeight / 3);
            service.Reset(settings);
            fieldHeight = 0;
            if (!isHidden) isHidden = !isHidden;
        } else isHidden = !isHidden;
    }
}
