@page "/"
@using Kicker.Server.GameServer
@inject GameService service

<PageTitle>admin tool</PageTitle>

<button class="btn btn-primary" @onclick="OnResetClicked">reset game</button>

@code {
    private void OnResetClicked()
    {
        service.Reset();
    }

}