@page "/"
@using Domain
@using Kicker.Server.GameServer
@inject GameService Service

<PageTitle>admin tool</PageTitle>

<button class="btn btn-primary mb-4" @onclick="OnResetClicked">zurücksetzen</button>

<div>
    <div class="mb-2 mt-3">
        <p>Spielfeldhöhe</p>
        <input type="number" @bind-value="_fieldHeight">
    </div>
    <div>
        <p hidden="@_isHidden">@Error</p>
        <button class="btn btn-primary" @onclick="OnResetWithChangesClicked">zurücksetzen mit Änderungen</button>
    </div>
</div>

<button class="btn btn-primary mt-4" @onclick="OnStopGameClicked">@_stopButtonContent</button>

@code {

    private void OnResetClicked()
    {
        Service.Reset();
    }

    private int _fieldHeight;
    private bool _isHidden = true;
        private const string Error = "invalid input, fieldheight must be divisible by 3 and not by 2";

    private void OnResetWithChangesClicked()
    {
        if (_fieldHeight >= 9 && _fieldHeight % 3 == 0 && _fieldHeight % 2 == 1)
        {
            var settings = GameSettings.create(_fieldHeight, _fieldHeight / 3);
            Service.Reset(settings);
            _fieldHeight = 0;
            if (!_isHidden) _isHidden = !_isHidden;
        }
        else _isHidden = !_isHidden;
    }

    private string _stopButtonContent = "Spiel pausieren";

    private async Task OnStopGameClicked()
    {
        var commandResult = await Service.Process(GameCommand.TogglePause);
        
        if (commandResult.Equals(CommandResult.Paused)) _stopButtonContent = "Spiel starten";
        else if (commandResult.Equals(CommandResult.Resumed)) _stopButtonContent = "Spiel pausieren";
    }
}
